$base-dark-blue: #264653;
$base-blue: #2A9D8F;
$base-yellow: #E9C46A;
$base-orange: #F4A261;
$base-dark-orange: #E76F51;
$base-light-gray: #ECECEC;

$poke-normal: #a8a878;
$poke-fighting: #c02038;
$poke-flying: #a890f0;
$poke-poison: #a040a0;
$poke-ground: #e0c068;
$poke-rock: #b8a038;
$poke-bug: #a8b820;
$poke-ghost: #705898;
$poke-steel: #b8b8d0;
$poke-fire: #f08030;
$poke-water: #6890f0;
$poke-grass: #78c850;
$poke-electric: #f8d030;
$poke-psychic: #f85888;
$poke-ice: #98d8d8;
$poke-dragon: #7038f8;
$poke-dark: #705848;
$poke-fairy: #ee99ac;
